* {
    margin: 0;
    padding: 0;

}

*:focus {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: background-color, .5s ease-in-out, -webkit-box-shadow;
    transition: background-color, .5s ease-in-out, -webkit-box-shadow;
    transition: background-color, box-shadow, .5s ease-in-out;
    transition: background-color, box-shadow, .5s ease-in-out, -webkit-box-shadow;


}

.show {

    background-color: #133336;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.21);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.21);
    -webkit-transition: background-color, .5s ease-in-out, -webkit-box-shadow;
    transition: background-color, .5s ease-in-out, -webkit-box-shadow;
    transition: background-color, box-shadow, .5s ease-in-out;
    transition: background-color, box-shadow, .5s ease-in-out, -webkit-box-shadow;


}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;

}

.dMenu {
    display: none;
}

.rMenu {
    position: absolute;
    top: 0;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #145A5E;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;

    height: 100vh;
    width: 100%;

    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);

    -webkit-transition: all .6s ease-out;

    transition: all .6s ease-out;
}

.rMenuClose {
    opacity: 0;
    display: none;
}

.rMenuShow {
    clip-path: circle(1000px at 90% 5%);
    -webkit-clip-path: circle(1000px at 90% 5%);
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


}

.rMenu ul {
    width: 80%;
    margin: 0 auto;

    text-align: center;
    ;
}

.rMenu li {

    padding: 1em 0 1em 0;
    list-style: none;
    ;
}

.rMenu li:last-child {

    border: none;
}

.rMenu a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}


a.active {
    border-bottom: 5px solid #0ACAD6;
    opacity: 1;

}

label {

    font-size: 30px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #fff;
}

#toggle {
    position: absolute;
    top: 25%;
    right: 10%;
    color: #fff;
    font-size: 2em;
    float: right;
    cursor: pointer;


}



.upper-fold {
    position: relative;
    background-color: #133336;
    background-image: url("/images/Rectangle\ 16.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    min-height: 731px;
    ;
    overflow: hidden;
}

.upper-fold::before {
    content: ".";
    position: absolute;
    display: inline-block;
    opacity: .15;
    width: 25em;
    height: 25em;
    background-color: #0CB1C4;
    border-radius: 25px;
    right: 20em;
    top: 5em;
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 15000ms;
            animation-duration: 15000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.circle1,
.circle2,
.circle3,
.circle4 {
    border-radius: 50%;
    position: absolute;
    background-color: #098791;

}

.circle1 {

    width: 1em;
    height: 1em;
    ;
    top: 10%;
    left: 15%;
}

.circle2 {
    opacity: .85;
    width: 10em;
    height: 10em;
    ;
    bottom: 5%;
    left: 17%;
}

.circle3 {
    opacity: .65;
    width: 10em;
    height: 10em;
    ;
    top: 10%;
    left: 50%;
}

.circle4 {
    opacity: .5;
    width: 4em;
    height: 4em;
    ;
    bottom: 10%;
    right: 15%;
}


.triangle {
    position: absolute;
    right: 40%;
    bottom: 15%;
    background-color: #0CB1C4;
    opacity: .5;
    text-align: left;
    border-top-right-radius: 10%;
    -webkit-transform: rotate(-60deg) skewX(-30deg) scale(1, .866);
            transform: rotate(-60deg) skewX(-30deg) scale(1, .866);
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 5000ms;
            animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;

}

.triangle::before,
.triangle::after {
    content: '';
    position: absolute;
    background-color: inherit;
    border-top-right-radius: 15%;
}



.triangle,
.triangle::before,
.triangle::after {
    width: 4em;
    height: 4em;

    z-index: 0;

}

.triangle:before {
    -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
            transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangle:after {
    -webkit-transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
            transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

@-webkit-keyframes spinT {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spinT {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}


#intro {
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    
    z-index: 1;
}

h1 {
    font-size: 1.7em;
    color: #fff;
    font-weight: 600;

}

h2 {
    font-weight: 800;
    font-size: 2em;
    ;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 400;
    color: #0D767F;


}



em {
    color: #fff;
    margin-left: -25px;
    opacity: .5;
    font-weight: 300;
}

em span {
    margin: 0 25px 0 25px;

}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #133336;
    opacity: .85;
    font-weight: 300;

}

.list {
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #133336;
    opacity: .85;
    font-weight: 300;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 20px 0px 0px 10px;

}

.intro-about li {
    padding-bottom: 5px;
    padding-left: 5px;
}


.last {
    margin: 0 0px 0 25px;
}

.highlight {
    color: #0ACAD6;
}

#intro .tagline {
    padding: 5px 0px 5px 0px;
    border-bottom: 5px solid #0ACAD6;
    display: inline;
}

.typing {
    position: absolute;
    margin-left: 15px;
}

.typing::after {
    position: relative;
    content: "";
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    -webkit-animation: blink 0.5s infinite ease;
            animation: blink 0.5s infinite ease;

}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tools {
    text-align: center;
    margin: 35px 15px;

}

.edu {
    margin-bottom: 20px;
}

.tool {
    display: inline;
}

.tool embed {
    margin: 10px;
}



.tools span {
    color: #133336;

}

.big-title {
    font-size: 5em;
    opacity: .1;
}

#about,
#work {
    padding-top: 2em;
}

.small-title {
    position: relative;
    top: -40px;
    border-bottom: 5px solid #0ACAD6;
    display: inline;
}

.piece {
    position: relative;
    -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.38);
    overflow: hidden;

}

.piece,
.piece img,
.slider {
    border-radius: 15px;
}

.work img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}


.bg {
    width: 100%;
    height: 100%;
    background-color: white;
}

.slider {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #008CBA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;


}

.piece span {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;

}

.piece h3 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0;
}

.piece p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 0;
}

.piece a:hover>.slider {
    z-index: 1;
    opacity: .75;
}

.piece a:hover>span {
    z-index: 1;
    opacity: 1;
}

.piece a:hover>img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: -1;
}
#scribbles {
    margin-top: 2em ;
    margin-bottom: 5em ;
    text-align: center;
   
}

#scribbles h2 {
    font-size:1.2em;
}

#scribbles .container {
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
.scribble {
    
    position:relative;
    overflow:hidden;
    max-height: 193px;
}

.sSlider {
    position: absolute;
    top:0;
    left:0;
    left:-250px;
    width:100%;
    height:100%;
    
    transition: transform .3s ease-in-out;
    
}

.scribble a:hover > .sSlider  {
    
    transform: translateX(250px);
   
}

.scribble img {
    transition: transform .3s ease-in-out;

}
.scribble a:hover > img {
    
    
    transform: scale(1.5);
   
}


.sSlider h4 {
    color:white;
    position:absolute;
    bottom:10%;
    left:10%;
    
    
}

.sliderBG {
    background-color:#008CBA;
    width:100%;
    height:100%;
    opacity:.75;

}

.footer {
    text-align: center;
    background-color: #133336;
    padding: 25px 10px 10px 10px;


}

.footer-logo {
    margin-bottom: 5px;

}

.social-media {

    margin-top: 10px;
    text-align: center;

}

.social-media a {
    margin: 0px 10px 0px 10px;


}

.footer .tagline em {

    margin: 0px 0px 10px 0px;
}

.footer-tagline p em span:first-child {
    margin-left: 0;

}

.copyright span {
    font-size: .75em;
    color: #fff;
    margin-top: 10px;


}

/* Project page*/

.project-header {
    width: 100%;
    position: relative;
    background-image: url("/images/Mask\ Group\ 1.jpg");
    background-size: cover;
    background-position: center;
    height: 55%;
    min-height: 450px;
    
}

#curve {
    position: absolute;
    bottom: 0;

}

#project-title {
    position: absolute;
    bottom: 20%;
}

#project-title span {
    color: #0ACAD6;
}


.pRole em {
    margin: 0;
    opacity: 1;
    padding: 5px 0px 5px 0px;
    border-bottom: 5px solid #0ACAD6;
    font-weight: 400;

}

section {
    padding: 2em 0;
}

.pAbout,
.journey,
.Final {
    padding: 3em 0 3em 0;
}

.pAbout img,
.journey img,
.fimg {
    width: 100%;
}

.pAbout p,
.journey p,
.Final p {
    color: #133336;
    margin-top: 2em;
}

.psectionT {

    border-bottom: 5px solid #0ACAD6;
    display: inline;

}

.lightb {
    width: 100%;


}

.journey {
    background-color: #098791;
    color: #fff;
    text-align: center;
}

.journey p {
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.row .pright {
    text-align: right;
}

.journey p,
.Final p,
.row {
    margin-bottom: 2em;
}

.dash .pleft {
    width: 60%
}

.dash .pright {
    width: 40%;
}

.dash .psectionT {
    border: none;
    font-size: 1.5em;
}


/****************** Project page betterU homepage*******************************************/

.proj2 {
    width: 100%;
    position: relative;
    background-image: url("/images/header-image-2.png");
    background-size: cover;
    background-position: center;
    height: 55%;
    min-height: 450px;
    
}

.btmFooter {
    width: 100%;
    clear: both;
}

.pAbout ul {
    list-style: none;
    padding: 2em 0 2em 0;
    margin: 0;
    font-size: 1em;
    color: #133336;
    -webkit-columns: 1;
            columns: 1;





}

.pAbout li {
    padding: 0 2em 0 2em;
    vertical-align: top;
    margin-bottom: 2em;




}

.pAbout li h4 {
    font-size: 1.2em;
    margin-bottom: .5em
}


@media only screen and (max-width:640px) {

    .triangle {
        display: none;

    }

    .upper-fold::before {
        right: -5em;
        top: 8em;
        width: 15em;
        height: 15em;
    }



    .piece {
        margin-bottom: 2em;
    }


}

@media only screen and (min-width:640px) {
    .upper-fold {
        background-image: url("/images/topangle-bg.svg");

    }

    h1 {
        font-size: 3em;
    }


    .upper-fold::before {
        top: 15%;
        right: 0;
    }

    .triangle {
        display: none;
    }

   

    .container {
        width: 95%;
        max-width: 1170px;

    }

    .nav-links {
        display: block;

    }



    .piece {
        margin-bottom: 2em;
    }

    .dMenu {
        display: block;
    }

    .rMenu,
    #toggle {
        display: none;
    }

    header nav {


        float: right;
        vertical-align: middle;



    }



    nav a {
        display: inline;
        text-decoration: none;
        color: #fff;

        /*font-weight:600;
        font-size: 1.1em;
        clear: right;
        padding-bottom:5px;
        text-decoration: none;
        color:#fff;
        margin: 0 .5em;
        line-height: 70px;
        opacity: .75;*/
    }

    nav li {
        display: inline;

        margin: 0 .5em;
        font-weight: 600;
        font-size: 1em;
        clear: right;
        line-height: 70px;

        /*font-weight:600;
        font-size: 1.1em;
        clear: right;
        padding-bottom:5px;
        text-decoration: none;
        color:#fff;
        margin: 0 .5em;
        line-height: 70px;
        opacity: .75;*/
    }

    nav li:last-child {
        margin-right: 0;
    }

    .pAbout ul {
        list-style: none;
        padding: 2em 0 2em 0;
        margin: 0;
        font-size: 1em;
        color: #133336;
        -webkit-columns: 1;
                columns: 1;





    }

    .pAbout li {
        padding: 0 2em 0 2em;
        
        margin-bottom: 2em;

        display: block;


    }

}

@media only screen and (min-width:900px) {

    .left,
    .right {
        width: 50%;
        float: left;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .triangle {
        display: block;
    }

    .upper-fold::before {
        top: 15%;
        right: 0;
    }

    .right {
        padding-left: 15%;
    }

    .tools {
        text-align: left;
        margin: 35px 0px;
    }

    .right .tools {
        margin-top: 0;
    }

    .about {
        background: linear-gradient(107deg, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 50%, rgba(215, 235, 238, 1) 50%, rgba(215, 235, 238, 1) 100%);
    }

    .about .container {
        background: linear-gradient(107deg, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 50%, rgba(215, 235, 238, 1) 50%, rgba(215, 235, 238, 1) 100%);
    }

    .piece {
        width: 75%;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .piece:nth-child(odd) {

        margin-left: 25%;
    }

    .piece:nth-child(even) {
        margin-right: 25%;

    }

    h1 {
        font-size: 5em;
    }

    .pleft {
        float: left;
        width: 40%;
    }

    .pright {
        float: left;
        width: 60%;
    }

    .pAbout ul {
        list-style: none;
        padding: 2em 0 2em 0;
        margin: 0;
        font-size: 1em;
        color: #133336;
        -webkit-columns: 1;
                columns: 1;





    }

    .pAbout li {
        padding: 0 2em 0 2em;
        margin-bottom: 2em;
        width: 25%;
        display: inline-block;

    }

}

@media only screen and (min-width:1171px) {

    .piece {
        width: 75%;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .piece:nth-child(odd) {

        margin-left: 25%;
    }

    .piece:nth-child(even) {
        margin-right: 25%;

    }

    .upper-fold::before {
        top: 15%;
        right: 0;
    }

}


/** Clearfix **/
.clear::after {
    content: "";
    clear: both;
    display: table;
}