*{
    margin:0;
    padding:0;

}
html, body {
    width:100%;
    height:100%;
    margin:0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
nav {
    z-index: 1000;
    position:fixed;
    width:100%;
    top:0;
    background-color:none;
    box-shadow: none;
    transition: background-color, box-shadow, .5s ease-in-out;


}
.show{
   
    background-color:#133336;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.21);
    transition: background-color, box-shadow, .5s ease-in-out;
    
    
}

.container {
width:90%;
margin:0 auto;
padding:0px 10px 0px 10px;

}
.nav {
    
   
    text-align:right;
    height:70px;
    line-height: 70px;
    float:right;

}


.nav-links {
    
    margin:0 0px 0 0;
    
}

.nav-links a {
    font-weight:600;
    font-size: 1.1em;
    clear: right;
    padding-bottom:5px;
    text-decoration: none;
    color:#fff;
    margin: 0 .5em;
    line-height: 70px;
    opacity: .75;
}

a.active{
    border-bottom:5px solid #0ACAD6;
    opacity: 1;
    
 }
label {
    
    font-size: 30px;
    line-height: 70px;
    display:none;
    width:26px;
    float:right;
    color:#fff;
}

#toggle {
display:none;

}

.upper-fold {
    background-color:#133336;
    background-image:url("/images/Rectangle\ 16.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100%;
}
#intro {
    padding: 35vh 0 0 5%;
    
}
h1 {
    font-size:2.5em;
    color:#fff;
    font-weight: 600;
    
}

h2 {
    font-weight: 800;
    font-size:2em;;
}

h3 {
    margin-bottom:20px;
    font-size:1.2;
    font-weight:400;
    color:#0D767F;
    

}



em {
    color:#fff;
    margin-left:-25px;
    opacity: .5;
    font-weight:300;
}
em span {
    margin:0 25px 0 25px;
    
}
p {
    font-size:1.2em;
    line-height: 1.6em;
    color: #133336;
    opacity:.85;
    font-weight: 300;

}
ul {
    font-size:1.1em;
    line-height: 1.6em;
    color: #133336;
    opacity:.85;
    font-weight: 300;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 20px 0px 0px 20px;
}

.intro-about li {
    padding-bottom:5px;
    padding-left:5px;
}


.last {
    margin:0 0px 0 25px;
}
.highlight {
    color:#0ACAD6;
}

#intro .tagline {
    padding: 5px 0px 5px 0px;
    border-bottom: 5px solid #0ACAD6;
    display:inline;
}

.tools{
    text-align:center;
    margin:35px 15px;

}
.edu {
    margin-bottom:20px;
}
.tool {
    display:inline;
}
.tool  embed {
    margin:10px;
}



.tools span {
    color:#133336;

}

.big-title {
    font-size:5em;
    opacity:.1;
}
.small-title {
    position:relative;
    top:-40px;
    border-bottom: 5px solid #0ACAD6;
    display:inline;
}

.piece {
    position: relative;
    
}
.work img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.38);
    

}
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    box-sizing: border-box;
   
   
    
    
    
 
}

.slider span {
   position: absolute;
   text-align:center;
   top:50%;
   width:100%;
   transform:translateY(-50%);
  
   
 
   
    
}

.slider h3{
    font-size:2em;
    color:#fff;
    margin-bottom:0;
}

.slider p{
    font-size:1em;
    color:#fff;
    margin-bottom:0;
}
.piece:hover > .slider {

    opacity:1;
}

.footer {
    text-align: center;
    background-color:#133336;
    padding:25px 10px 10px 10px;


}
.footer-logo {
    margin-bottom:5px;
    
}
.social-media {
    
    margin-top:10px;
    text-align: center;
    
}
.social-media a {
    margin:0px 10px 0px 10px;
    

}

.footer-tagline em {

    margin:0px 0px 10px 0px;
}

.copyright span{
    font-size:.75em;
    color:#fff;
    margin-top:10px;


}

@media only screen and (max-width:640px){
 
    label{
        display:block;
        cursor:pointer;
    }
   
   
    #toggle:checked + .nav-links {
        display:block;
    }

    .piece {
        margin-bottom:2em;
    }

  
}

@media only screen and (min-width:640px){
    .upper-fold {
        background-image:url("/images/topangle-bg.svg"); 
    
    }
    #intro {
        padding: 35vh 0 0 0;
        
    }
    .container {
        width:95%;
        max-width:1170px;
        
    }
    .nav-links {
        display:block;
        
    }
    h1 {
        font-size:5em;
    }
    .piece {
        margin-bottom:2em;
    }


}

@media only screen and (min-width:900px){
  
    .left, .right {
        width:50%;
        float:left;
        box-sizing:border-box;
    }
    .right {
        padding-left:15%;
    }
    .tools {
        text-align:left;
        margin: 35px 0px;
    }
    .right .tools {
        margin-top:0;
    }

    .about {
        background: linear-gradient(107deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(215,235,238,1) 50%, rgba(215,235,238,1) 100%);
    }

    .about .container {
        background: linear-gradient(107deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(215,235,238,1) 50%, rgba(215,235,238,1) 100%);
    }
    .piece {
        width:75%;
        margin-top: 40px;
        margin-bottom:80px;
    }
    .piece:nth-child(odd){
        
        margin-left:25%;
    }
    .piece:nth-child(even){
        margin-right:25%;
       
    }

}

@media only screen and (min-width:1171px){
  
    .piece {
        width:75%;
        margin-top: 40px;
        margin-bottom:80px;
    }
    .piece:nth-child(odd){
        
        margin-left:25%;
    }
    .piece:nth-child(even){
        margin-right:25%;
       
    }

}













/** Clearfix **/
.clear::after {
    content: "";
    clear: both;
    display: table;
  }





